<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>AngularJS Basic</title>

        <link rel="stylesheet" type="text/css" href="app/libs/bootstrap/dist/css/bootstrap.min.css">

        <script type="text/javascript" src="app/libs/angular/angular.min.js"></script>

        <!-- Main entry point -->
        <script type="text/javascript" src="app/app.js"></script>

        <!-- Controller -->
        <script type="text/javascript" src="app/Controllers/MainController.js"></script>
    </head>
    <body class="container" ng-controller="MainController">
        <div class="page-header">
            <h1>ToDo App</h1>
        </div>

        <form class="clearfix">
            <div class="form-group">
                <input type="text" ng-model="todoToAdd.name" class="form-control" placeholder="Add ToDo">
            </div>
            <button type="submit" class="btn btn-default pull-right" ng-click="addTodo();">Add</button>
        </form>

        <ul class="list-group" style="margin-top: 40px;">
            <li ng-class="{'list-group-item-success': todo.done}" class="list-group-item clearfix" ng-repeat="todo in todos">
                <input ng-model="todo.done" class="pull-left" type="checkbox" style="margin-right: 20px;">
                {{todo.name}}
                <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="removeTodo(todo)">Remove</button>
            </li>
        </ul>
    </body>
</html>