<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>AngularJS Basic</title>

        <link rel="stylesheet" type="text/css" href="app/libs/bootstrap/dist/css/bootstrap.min.css">

        <script type="text/javascript" src="app/libs/angular/angular.min.js"></script>

        <!-- Main entry point -->
        <script type="text/javascript" src="app/app.js"></script>

        <!-- Controller -->
        <script type="text/javascript" src="app/Controllers/MainController.js"></script>
    </head>
    <body class="container" ng-controller="MainController">
        <div class="page-header">
            <h1>ToDo App</h1>
        </div>

        <form class="clearfix">
            <div class="form-group">
                <input type="text" ng-model="todoToAdd.name" class="form-control" placeholder="Add ToDo">
            </div>
            <div class="form-group">
                <textarea ng-model="todoToAdd.description" class="form-control" rows="3" placeholder="Add ToDo Description"></textarea>
            </div>
            <div class="form-group">
                <input type="date" ng-model="todoToAdd.duedate" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-default pull-right" ng-click="addTodo();">Add</button>
        </form>

        <table class="table">
            <thead>
                <tr class="text-center">
                    <td>ID</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Due Date</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" ng-class="{'success': todo.done}" ng-repeat="todo in todos track by $index">
                    <td>{{$index}}</td>
                    <td>{{todo.name}}</td>
                    <td>{{todo.description}}</td>
                    <td>{{todo.duedate}}</td>
                    <td>
                        <button class="btn btn-info btn-sm" ng-click="toggleChecked(todo);">Check</button>
                        <button class="btn btn-danger btn-sm" ng-click="removeTodo(todo);">Remove</button>
                    </td>
                </tr>
                <tr class="text-center">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-danger" ng-click="clearCompleted();">Clear completed</button></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>