<div class="page-header">
    <h1>ToDo Details</h1>
</div>

<div class="jumbotron">
    <h2>Todo name: {{todo.name}}</h2>
    <label>Description</label>
    <p>{{todo.description}}</p>
    <span>Due Date: {{todo.duedate}}</span>
</div>
<div class="form-group">
    <a href="#/" class="btn btn-primary pull-right">Back to Todo List</a>
</div>