<div class="page-header">
    <custom-header></custom-header>
</div>

<form class="clearfix" name="todoForm" novalidate ng-submit="addTodo();">
    <div class="form-group">
        <input name="name" type="text" ng-model="todoToAdd.name" class="form-control" placeholder="Add ToDo" required>
        <p ng-show="todoForm.name.$invalid && !todoForm.name.$pristine">Todo name is required!</p>
    </div>
    <div class="form-group">
        <textarea name="description" ng-model="todoToAdd.description" class="form-control" rows="3" placeholder="Add ToDo Description" ng-minlength="5" required></textarea>
        <p ng-show="todoForm.description.$invalid && !todoForm.description.$pristine">Enter at least 5 characters!</p>
    </div>
    <div class="form-group">
        <input type="date" ng-model="todoToAdd.duedate" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-default pull-right" ng-disabled="todoForm.$invalid">Add</button>
</form>

<table class="table">
    <thead>
        <tr class="text-center">
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Due Date</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center" ng-class="{'success': todo.done}" ng-repeat="todo in todos track by $index">
            <td>{{$index}}</td>
            <td><a href="#/todo/{{todo._id}}">{{todo.name}}</a></td>
            <td>{{todo.description}}</td>
            <td>{{todo.duedate}}</td>
            <td>
                <button class="btn btn-info btn-sm" ng-click="toggleChecked(todo);">Check</button>
                <button class="btn btn-danger btn-sm" ng-click="removeTodo(todo);">Remove</button>
            </td>
        </tr>
        <tr class="text-center">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-danger" ng-click="clearCompleted();">Clear completed</button></td>
        </tr>
    </tbody>
</table>

<style type="text/css">
    
.ng-valid {
    border-color: #ccc;
}
.ng-invalid.ng-touched {
    border-color: red;
}
.form-group p {
    color: red;
    margin: 10px 0;
}

</style>