<div class="page-header">
    <h1>ToDo Register</h1>
</div>

<div ng-show="registrationError" class="alert alert-danger" role="alert">{{message || 'Registration failed!'}}</div>
<div ng-show="registrationSuccess" class="alert alert-info" role="alert">You have registered successfully! Login <a href="#/login">Here</a></div>

<form class="form-signup">
    <label>Username</label>
    <input type="text" id="username" class="form-control" placeholder="Username" ng-model="username">
    
    <label>Password</label>
    <input type="password" class="form-control"  placeholder="Password" ng-model="password">

    <label>Repeat Password</label>
    <input type="password" class="form-control"  placeholder="Repeat Password" ng-model="check_password">

    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="register();">Register</button>
    <a class="pull-right" href="#/login">Go To Login</a>
</form>

<style type="text/css">
.form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signup button {
    margin-top: 40px;
}
.form-signup a {
    margin: 10px 0;
}
</style>